extends layout

block content
  br
  h3 Test Data Service:
  img(src='images/TestService.png')
  br
  br
  h3 High Level Test Execution flow:
  img(src='images/ExecutionFlow.png')
  br
  h3 Sample Grafana Dashboard
  img(src='images/Grafana_sample.png')
