doctype html
html(lang='en', ng-app='paramsingh')
  head
    title Run all Test Cases
    link(href='../node_modules/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
  body
    .container.main-content(ng-controller='RunTestCaseController')
    script(src='../node_modules/angular/angular.min.js')
    script(src='/runAllTests.js')
